.img-preview {
  float: left;
  border: 1px solid black;
  margin: 30px;
  height: 160px;
}
/* CONTENT SETTINGS */
#content {
  float: left;
  width: 50%;
  height: 470px;
  overflow: auto;
  text-align: center;
}
